h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 33110269-04]
        p.mb-0 Realizar vacunación segura teniendo en cuenta las características de los inmunobiológicos y lineamientos del ministerio de salud y protección social.
        hr
        h5 #[strong Cod. 33110269-05]
        p.mb-0 Fortalecer los aspectos relacionados con el sistema de información y reportes de la Vacunación contra el covid19 según lineamientos del ministerio de salud y protección social.