.container#tema1

  .header-ecored
    h1 1. Vacunación segura

  .jumbotron.bg-white 
    .row.justify-content-center.align-items-center.mb-3
      .col-12.col-lg-auto.d-flex.justify-content-center.mb-4.mb-lg-0 
        img(src="assets/images/pages/tema-1/img01.svg", alt="",style="width:250px")
      .col
        p La vacunación segura es el resultado de una serie de actividades coordinadas entre entidades, que comprenden #[strong vacunas de calidad, prácticas de inyección segura y monitoreo], cuya finalidad es promover mayores beneficios en materia de vacunación y reducir al mínimo el riesgo para la población.
        h2 ¡Las inyecciones son para prevenir y sanar, no para dañar!

  .jumbotron.bg-white#tema1_1
    .header-ecored
      h2 1.1 Lineamientos

    .row.justify-content-center.align-items-center.mb-4
      .col-12.col-md-6
        h3.TextLH
          | Es indispensable incrementar las medidas de seguridad, para reducir al máximo las posibilidades de error. 
          span.TextC1 reducir al máximo las posibilidades de error.
      .col
        p Teniendo en cuenta los siguientes aspectos se podrá asegurar que las personas reciban una atención segura y queden protegidos con la vacuna:
    
    .wv70i.m-auto
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='media/interactivo-1/index.html', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    .row.justify-content-center.align-items-center.mb-4
      .col-12.col-lg-6
        p
          | Esto de acuerdo a los lineamientos técnicos y operativos para la vacunación contra el COVID19 en Colombia.
          br
          | #[i Versión 1: Verifique vacunación segura.]
      .col
        a(href="media/documentos/Anexo_1.pdf" target="_blank").media-link
          img(src="assets/images/icons/icon_media_web.svg", alt="").media-link-icon
          .media-link-title
            p.mb-0 #[strong Anexo 1.] Vacunación segura
  
  .jumbotron.bg-white#tema1_2
    .header-ecored
      h2 1.2 Generalidades
    p.mb-4 La vacunación segura y la política de frascos abiertos, involucra una serie de conceptos, características y principios que se deben tener en cuenta para ofrecer una atención de calidad a las personas que asisten a los servicios de vacunación:

    .list.mb-4
      .list__item
        .list__item__bulletNumber
          span A
      .list__txt
        p.mb-0 #[strong Características de una inyección segura]

    .wv85.m-auto
      .row
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-4.mb-lg-0 
          img(src="assets/images/pages/tema-1/img02.svg", alt="",style="width:250px")
        .col.m-auto
          ul.list-p1
            li Seguridad para el receptor de la inyección – Vacunado.
            li Seguridad para el trabajador de la salud – Vacunador.
            li Seguridad para la comunidad y medio ambiente.
              
    .hr-divider.my-5

    .list.mb-4
      .list__item
        .list__item__bulletNumber
          span B
      .list__txt
        p.mb-0 #[strong Aspectos relacionados con la seguridad para el receptor de la vacuna que debe tener en cuenta el profesional que la administre]

    img.img-fluid.m-auto.d-block.wv70(src="assets/images/pages/tema-1/img03.svg")

    nav.nav-tab-eco2.mb-4
      #nav-tabContent.tab-content
        #nav-c01.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-c01-tab')
          .list.bord1.mb-3
            .list__item
              .list__item__bulletNumber3
                span 01
            .list__txt
              p.my-0 Conocer el esquema nacional de vacunación, vía, dosis y lugar de aplicación.
        #nav-c02.tab-pane.fade(role='tabpanel' aria-labelledby='nav-c02-tab')
          .list.bord1.mb-3
            .list__item
              .list__item__bulletNumber3
                span 02
            .list__txt
              p.my-0 Asegurar la correcta conservación de la vacuna.
        #nav-c03.tab-pane.fade(role='tabpanel' aria-labelledby='nav-c03-tab')
          .list.bord1.mb-3
            .list__item
              .list__item__bulletNumber3
                span 03
            .list__txt
              p.my-0 Cumplir con las medidas de bioseguridad.
        #nav-c04.tab-pane.fade(role='tabpanel' aria-labelledby='nav-c04-tab')
          .list.bord1.mb-3
            .list__item
              .list__item__bulletNumber3
                span 04
            .list__txt
              p.my-0 Aplicación estricta y correcta de (usuario, vacuna, diluyente, jeringa y aguja exclusiva, dosis, vía, sitio anatómico, fecha…).
        #nav-c05.tab-pane.fade(role='tabpanel' aria-labelledby='nav-c05-tab')
          .list.bord1.mb-3
            .list__item
              .list__item__bulletNumber3
                span 05
            .list__txt
              p.my-0 Seleccionar y revisar el sitio de aplicación de la inyección, de acuerdo con la vacuna a aplicar.
        #nav-c06.tab-pane.fade(role='tabpanel' aria-labelledby='nav-c06-tab')
          .list.bord1.mb-3
            .list__item
              .list__item__bulletNumber3
                span 06
            .list__txt
              p.my-0 Realizar estricto lavado e higienización de manos.
        #nav-c07.tab-pane.fade(role='tabpanel' aria-labelledby='nav-c07-tab')
          .list.bord1.mb-3
            .list__item
              .list__item__bulletNumber3
                span 07
            .list__txt
              p.my-0 Asegurar la esterilidad del equipo a utilizar.
        #nav-c08.tab-pane.fade(role='tabpanel' aria-labelledby='nav-c08-tab')
          .list.bord1.mb-3
            .list__item
              .list__item__bulletNumber3
                span 08
            .list__txt
              p.my-0 Revisar la integridad del empaque de la jeringa.
        #nav-c09.tab-pane.fade(role='tabpanel' aria-labelledby='nav-c09-tab')
          .list.bord1.mb-3
            .list__item
              .list__item__bulletNumber3
                span 09
            .list__txt
              p.my-0 Hacer correcto manejo de la política de frascos en uso intramural y extramural.
        #nav-c10.tab-pane.fade(role='tabpanel' aria-labelledby='nav-c10-tab')
          .list.bord1.mb-3
            .list__item
              .list__item__bulletNumber3
                span 10
            .list__txt
              p.my-0 No dejar la aguja insertada en el tapón del frasco.
        #nav-c11.tab-pane.fade(role='tabpanel' aria-labelledby='nav-c11-tab')
          .list.bord1.mb-3
            .list__item
              .list__item__bulletNumber3
                span 11
            .list__txt
              p.my-0 Evitar los errores programáticos y conocer las consecuencias.

      #nav-tab.nav.nav-tabs.nav-fill(role='tablist')
        a#nav-c01-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-c01' role='tab' aria-controls='nav-c01' aria-selected='true') 01
        a#nav-c02-tab.nav-item.nav-link(data-toggle='tab' href='#nav-c02' role='tab' aria-controls='nav-c02' aria-selected='false') 02
        a#nav-c03-tab.nav-item.nav-link(data-toggle='tab' href='#nav-c03' role='tab' aria-controls='nav-c03' aria-selected='false') 03
        a#nav-c04-tab.nav-item.nav-link(data-toggle='tab' href='#nav-c04' role='tab' aria-controls='nav-c04' aria-selected='false') 04
        a#nav-c05-tab.nav-item.nav-link(data-toggle='tab' href='#nav-c05' role='tab' aria-controls='nav-c05' aria-selected='false') 05
        a#nav-c06-tab.nav-item.nav-link(data-toggle='tab' href='#nav-c06' role='tab' aria-controls='nav-c06' aria-selected='false') 06
        a#nav-c07-tab.nav-item.nav-link(data-toggle='tab' href='#nav-c07' role='tab' aria-controls='nav-c07' aria-selected='false') 07
        a#nav-c08-tab.nav-item.nav-link(data-toggle='tab' href='#nav-c08' role='tab' aria-controls='nav-c08' aria-selected='false') 08
        a#nav-c09-tab.nav-item.nav-link(data-toggle='tab' href='#nav-c09' role='tab' aria-controls='nav-c09' aria-selected='false') 09
        a#nav-c10-tab.nav-item.nav-link(data-toggle='tab' href='#nav-c10' role='tab' aria-controls='nav-c10' aria-selected='false') 10
        a#nav-c11-tab.nav-item.nav-link(data-toggle='tab' href='#nav-c11' role='tab' aria-controls='nav-c11' aria-selected='false') 11

    p.my-5 A continuación, se detallan los principales errores programáticos y sus implicaciones de acuerdo a la Organización Panamericana de la Salud, 2007:

    #accordionExample.accordion.mb-4

      .card
        #headingOne.card-header
          h2.mb-0
            button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
              h2.mb-0.collapsable-title Inyección no estéril
        #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
          .card-body
            ul.list-p2.mb-4
              li Reconstitución con el diluyente incorrecto.
              li Reemplazo de la vacuna o el diluyente con un fármaco u otra vacuna.

            p.mb-2 #[strong Evento previsto:]
            ul.list-p2
              li Absceso local por agitación indebida.
              li Evento adverso de un fármaco; por ejemplo, la insulina.
              li Muerte.
              li Vacuna ineficaz.

      .card
        #headingTwo.card-header
          h2.mb-0
            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
              h2.mb-0.collapsable-title Error de reconstitución
        #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
          .card-body
            ul.list-p2.mb-4
              li Seguridad para el receptor de la inyección – Vacunado.
              li Seguridad para el trabajador de la salud – Vacunador.
              li Seguridad para la comunidad y medio ambiente.
            p.mb-2 #[strong Evento previsto:]
            ul.list-p2
              li Infección, cómo absceso localizado en el sitio de la inyección, sepsis, síndrome de choque tóxico o muerte.
              li Infección transmitida por la sangre, por ejemplo, hepatitis o VIH.

      .card
        #headingThree.card-header
          h2.mb-0
            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
              h2.mb-0.collapsable-title Inyección en el lugar anatómico y vía equivocado
        #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
          .card-body
            ul.list-p2.mb-4
              li BCG aplicada por vía subcutánea.
              li DPT/DT/TT demasiado superficial.
              li Inyección en la nalga.

            p.mb-2 #[strong Evento previsto:]
            ul.list-p2
              li Reacción o absceso local.
              li Probable daño al nervio ciático en lactantes.

      .card
        #headingFour.card-header
          h2.mb-0
            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
              h2.mb-0.collapsable-title Transporte/almacenamiento incorrecto de vacunas
        #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
          .card-body
            p.mb-2 #[strong Evento previsto:]
            ul.list-p2
              li Reacción local por aplicación de una vacuna congelada.
              li Vacuna ineficaz.

      .card
        #headingFive.card-header
          h2.mb-0
            button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
              h2.mb-0.collapsable-title No respeto de las contraindicaciones
        #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample')
          .card-body            
            p.mb-2 #[strong Evento previsto:]
            ul.list-p2
              li Reacción grave prevenible
    
    p Tabla 1. Organización Panamericana de la salud. Módulo III. Prácticas de inyección segura 2007. En presentación del Ministerio de salud Colombia. Página 9.

    .row.justify-content-center.mt-5
      .col-10.col-md-8
          .card-media.bg-brand-color-light
              .card-media__body                 
                  figure.card__figure
                    img(src="assets/images/pages/tema-1/img04.svg").img-fluid
                  .card__copy 
                    p.text-center #[strong ¡Evitemos los errores programáticos!]
                    ul.list-p3
                      li Capacitando al personal de salud.
                      li Con supervisión y monitoreo continuo de los servicios de vacunación, centros de acopio y el refrigerador de vacunas.
                      li Con suministro apropiado de equipos e insumos para la vacunación.
                      li Investigando el error programático y diseñando planes de acción para que no se repita.

    .hr-divider.my-5

    .list.mb-4
      .list__item
        .list__item__bulletNumber
          span C
      .list__txt
        p.mb-0 #[strong Prácticas seguras para la administración de vacunas]
    
    p.mb-4 #[strong I. Según el Ministerio de Salud las prácticas seguras para la administración de vacunas relacionadas con la aplicación al usuario:]

    ul.list-p1
      li Cargar la jeringa con la dosis y vacuna correcta antes de la aplicación.
      li Usar el diluyente específico de cada vacuna.
      li Administrar la vacuna con la jeringa y aguja correcta.
      li Administrar la vacuna en el sitio anatómico y por la vía correcta.
      li Administrar la vacuna respetando el intervalo mínimo indicado según el esquema.
      li No utilizar algodones húmedos guardados en recipiente multiusos.
    
    .hr-divider.my-5

    p.mb-4 #[strong II. Prácticas seguras para la administración de vacunas relacionadas con el trabajador de la salud.]

    p.mb-4 Manipulación adecuada jeringa y agujas

    .row.text-center.w90.mb-4
      .col-12.col-md
        img.img-fluid.m-ngt.m-nlf(src="assets/images/pages/tema-1/img05.svg", style="max-width: 14%")
        p.bg-t1 No retapar las agujas después de la administración de la vacuna.
      .col-12.col-md
        img.img-fluid.m-ngt.m-nlf(src="assets/images/pages/tema-1/img06.svg", style="max-width: 14%")
        p.bg-t1 Prever los movimientos del usuario durante la vacunación.

    .row.text-center.w90.mb-4
      .col-12.col-md
        img.img-fluid.m-ngt.m-nlf(src="assets/images/pages/tema-1/img07.svg", style="max-width: 14%")
        p.bg-t1 Actividades para prevenir accidentes con las agujas.
      .col-12.col-md
        img.img-fluid.m-ngt.m-nlf(src="assets/images/pages/tema-1/img08.svg", style="max-width: 14%")
        p.bg-t1 No manipular la aguja después de la aplicación de la vacuna.
    
    .hr-divider.my-5

    p.mb-4 #[strong  III. Prácticas seguras para la administración de vacunas relacionadas con la eliminación de cortopunzantes.]

    img.img-fluid.m-auto.d-block.wv55(src="assets/images/pages/tema-1/img09.svg")
    p.my-4.mt-2 #[strong  Fuente: Ministerio de Salud Colombia.]

    .hr-divider.my-5

    .list.mb-4
      .list__item
        .list__item__bulletNumber
          span D
      .list__txt
        p.mb-0 #[strong Prácticas seguras para la administración de vacunas relacionadas con la seguridad de la comunidad y el ambiente]

    img.img-fluid.m-auto.d-block.wv70(src="assets/images/pages/tema-1/img10.svg")

    .row.justify-content-center.align-items-center.my-4
      .col-12.col-lg-auto.d-flex.justify-content-center.mb-4.mb-lg-0 
        img(src="assets/images/pages/tema-1/img11.svg", alt="",style="width:200px")
      .col
        p #[strong Segregación en la fuente:] clasificación y disposición de los residuos en las canecas y contenedores adecuados, de acuerdo con el código de color adoptado por la legislación vigente.
        p #[strong Código de colores:] los recipientes y bolsas deben ser del color correspondiente a la clase de residuos que se va a depositar.
    
    .bg-sec
      p.my-0 #[strong La incineración es la manera más fiable y segura de eliminación de residuos.] No se debe enterrar o botar a campo abierto, ni al basurero público o municipal.
    p.my-4.mt-2 #[strong Fuente: Ministerio de Salud Colombia.]

    .hr-divider.my-5

    p.mb-4 De acuerdo a los lineamientos técnicos y operativos para la vacunación contra el COVID19 Colombia. Versión 1 verifique el manejo de residuos:

    .row.justify-content-center
      .col-auto
        a(href="media/documentos/Anexo_2.pdf" target="_blank").media-link
          img(src="assets/images/icons/icon_media_web.svg", alt="").media-link-icon
          .media-link-title
            p.mb-0 #[strong Anexo 2.] Manejo de residuos

    .hr-divider.my-5

    .list.mb-4
      .list__item
        .list__item__bulletNumber
          span E
      .list__txt
        p.mb-0 #[strong Política de frascos abiertos]
    
    p Para poder implementar la política de frascos abiertos, es necesario que las vacunas cumplan unas condiciones:

    .list.bord1.mb-3
      .list__item
        .list__item__bulletNumber2
          span 1
      .list__txt
        p.my-0 Que las vacunas #[strong no hayan vencido.]

    .list.bord1.mb-3
      .list__item
        .list__item__bulletNumber2
          span 2
      .list__txt
        p.my-0 Que las vacunas hayan sido almacenadas y conservadas en #[strong condiciones apropiadas de cadena de frío.]

    .list.bord1.mb-3
      .list__item
        .list__item__bulletNumber2
          span 3
      .list__txt
        p.my-0 Registrar la fecha y hora de almacenamiento en #[strong condiciones de refrigeración a +2°C a + 8°C.]

    .list.bord1.mb-3
      .list__item
        .list__item__bulletNumber2
          span 4
      .list__txt
        p.my-0 Que las dosis de vacuna extraídas previamente hayan sido realizadas con #[strong alto grado de asepsia.]
    
    .list.bord1.mb-3
      .list__item
        .list__item__bulletNumber2
          span 5
      .list__txt
        p.my-0 #[strong Nunca se debe utilizar un vial que le falte la etiqueta,] cuya información no se pueda leer o no sea clara.
    
    .hr-divider.my-5

    .row.justify-content-center.align-items-center.mb-4
      .col-12.col-md-3
        h3.TextLH
          | A su vez es necesario cumplir unas condiciones técnicas que permitan su 
          span.TextC1 correcta implementación.
      .col
        p Garantizar que los equipos utilizados en vacunación cuenten con código PQS (refrigeradores, cajas térmicas y termos), y realizar las buenas prácticas para la conservación de los biológicos garantizando la conservación con temperatura entre +2°C y +8°C, lo cual incluye el recambio de los paquetes fríos que las vacunas hayan sido almacenadas y conservadas en condiciones apropiadas de cadena de frío.
    
    p Esta política define dos tipos de usos de la vacuna intramural y uso extramural:

    nav.nav-tab-ecored.wv2.my-4
      #nav-tab.nav.nav-tabs.nav-fill(role='tablist')
        a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
          strong A nivel intramural
        a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
          strong A nivel extramural
          
      #nav-tabContent.tab-content
        #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
          p Toda vacuna líquida multidosis, como es el caso la Vacuna de Polio Oral -VOPb, Polio Inyectable –VIP, Difteria Tétanos y Tos Ferina -DPT, Toxoide Tetánico -TT, Tétanos y Difteria –Tdadultos, Pediátrica -TD, Hepatitis B, Influenza estacional y fórmulas líquidas de la vacuna HIb, pueden ser utilizadas hasta 28 días posteriores a su apertura vacunas líquidas multidosis. Estos frascos deben estar debidamente rotulados.

        #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
          p Toda vacuna líquida multidosis de Polio Oral - VOPb, Polio Inyectable – VIP, Difteria Tétanos y Tos Ferina - DPT, Toxoide Tetánico - TT, Tétanos y Difteria – Td adultos, Pediátrica - TD, Hepatitis b, Influenza estacional y fórmulas líquidas de la vacuna HIb, #[strong pueden ser utiizadas hasta 7 días posteriores a su apertura.] Anotando que se debe priorizar el uso de los frascos abiertos y cerrados que reingresaron a las instituciones prestadoras de servicios de salud – IPS después de una jornada extramural.
    
    p La política actual de uso de vacunas liofilizadas (BCG, Sarampión, SR, SRP, Fiebre amarilla) Una vez reconstituidas deben ser aplicadas en las siguientes 6 horas, atendiendo a las recomendaciones de la casa productora o al final de la jornada laboral, lo primero que suceda. Tanto a nivel intramural como extramural.

    p Puede complementar la lectura con la Circular 26 de 2017 sobre la actualización Política de frascos abiertos.

    .hr-divider.my-5

    p #[strong I. Política de frasco abierto para vacuna contra COVID19 Pfizer]

    p Esta vacuna es ultracongelada, multidosis de uso intramural o extramural y en almacenamiento de #[strong +2°C A + 8°C se usan solo durante 5 días.]

    p
      | La política actual de uso de vacunas ultracongelada a #[strong -70°C una vez se diluyen deben ser] 
      span.TextC1 #[strong aplicadas en las siguientes 6 horas ]
      | atendiendo a las recomendaciones de la casa productora.