.container#tema3

  .header-ecored
    h1 3. Sistemas de información

  .jumbotron.bg-white
    .row.mb-4
      .col-12.col-md-4
        h3.TextLH
          | En Colombia se aplican anualmente alrededor de 25 millones de dosis de vacunas como parte del 
          span.TextC1 Programa Ampliado de Inmunización – PAI
        p.TextC2 #[i (Ministerio de Salud, 2020).]
      .col
        p Proceso que queda registrado en el aplicativo PAIWEB del Ministerio de Salud y Protección Social.

        p Este software es de uso exclusivo de las secretarías de salud de las entidades territoriales, EPS e IPS que son las que registran la vacunación y, por supuesto, del Minsalud como ente rector; en él se lleva consolidada la información de qué vacuna se ha aplicado a cada colombiano y de lo que es el esquema PAI en el país.  Este aplicativo lleva la trazabilidad de todo el proceso de vacunación en el país.
    
    .wv85.m-auto
      .bg-t6
          p.text-center Revisar los lineamientos para la implementación, operación y sostenimiento del sistema de información nominal del programa ampliado de inmunizaciones PAI.

      .bg-t7
          p.text-center.mb-0 #[strong Recurso.] Ministerio de Salud Colombia.
    
    p.my-4
        | Adicional, mediante la aplicación ‘Mi Vacuna’, las personas tienen la posibilidad de verificar si tiene una cita (fecha, lugar y hora) pendiente para aplicarse el biológico: MinSaludCol (2021). Así funciona el aplicativo
        br
        | #[strong Mi Vacuna.] 
    
    .row.mb-4
      .col-12.col-md-6.mb-4.mb-md-0
        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=930&pg=27" target="_blank").media-link
          img(src="assets/images/icons/icon_media_web.svg", alt="").media-link-icon
          .media-link-title
            p.mb-0 #[strong Anexo 6.] Circular 044 de 2013 / 12.5 Lineamientos Técnicos y operativos vacunación COVID.
      .col-12.col-md-6
        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=930&pg=27" target="_blank").media-link
          img(src="assets/images/icons/icon_media_web.svg", alt="").media-link-icon
          .media-link-title
            p.mb-0 #[strong Anexo 7.] Ministerio de Salud - Sistema de Información.

  .jumbotron.bg-white#tema3_1
    .header-ecored
      .h2 3.1 Generalidades

    p.mb-4 El sistema de información nominal del #[strong Programa Ampliado de Inmunizaciones], tiene por objetivo realizar el seguimiento persona a persona, para verificar oportunamente el cumplimiento de su esquema de vacunación para minimizar errores de registro, reducir el tiempo de obtención y mejorar la calidad de la información, digitándose desde la fuente primaria lo que permite:

    img.img-fluid.m-auto.d-block(src="assets/images/pages/tema-3/img01.svg")
  
  .jumbotron.bg-white#tema3_2
    .header-ecored
      .h2 3.2. Plataforma tecnológica

    p.mb-4 La plataforma se llama #[strong PAIWEB cuenta con una versión 1.0] y se encuentra en reingeniería para llegar a la versión 2.0 para el registro de toda la cadena de frío.

    img.img-fluid.m-auto.d-block(src="assets/images/pages/tema-3/img02.svg")

  .jumbotron.bg-white#tema3_3
    .header-ecored
      .h2 3.3 PAI Web 2.0

    .bg-t4
      p El sistema está dividido en módulos, que permiten la gestión eficaz de la información para cada institución lo que permite el registro y almacenamiento de las dosis aplicadas por persona, antecedente vacunal, datos personales, datos de georeferenciación, información detallada de las vacunas aplicadas (dosis, fecha de aplicación, lote, lugar, persona, institución) y su consulta en cualquier lugar. Permite consultar y generar el carné de vacunas y la conservación de la historia vacuna, lo que evita la revacunación y permite el ingreso de los insumos enviados a las entidades territoriales, control de inventarios en cada uno de los niveles y monitoreo permanente de los insumos.
    .header-arrow4.mb-6

    .row.mb-4
      .col-12.col-md-4
        h3.TextLH
          | En la versión 2.0 PAIWEB está vinculado sobre toda la cadena de frío e informará 
          span.TextC1 exactamente dónde está cada ultracongelador y nevera 
          | , y cómo están funcionando.
      .col
        p En esta misma plataforma también quedará el #[strong reporte de los consentimientos informados de cada persona], así como el registro de que la persona ya fue inmunizada y la expedición del carné de vacunación.

        p #[strong PAIWEB lleva la trazabilidad completa], con información permanente, de la vacunación de todos los colombianos, siendo el único aplicativo donde se registrará la vacunación en todo el país. Desde allí se toma la información para entregar reportes generales al país:
    
    .row.mb-4
      .col-12.col-md-4
        p De igual manera, permitirá saber en qué punto está cada vacuna: en el aeropuerto, en las bodegas mayores, en una bodega territorial, en una IPS o si ya se aplicó en un ciudadano determinado.
      .col
        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=930&pg=27" target="_blank").media-link
          img(src="assets/images/icons/icon_media_web.svg", alt="").media-link-icon
          .media-link-title
            p.mb-0 #[strong Anexo 8.] Brochure PAI Web 2.0
  
  .jumbotron.bg-white#tema3_4
    .header-ecored
      .h2 3.4 Carné de vacunación
    
    p El sistema de información lo #[strong genera de forma automática.]
  
  .jumbotron.bg-white#tema3_5
    .header-ecored
      .h2 3.5 Calidad de la información

    p Existe una metodología y toda una infraestructura que asegura la calidad de la información que ingresa y la calidad del dato, fortalecido además por la interoperabilidad que desarrolla el sistema con otros sistemas #[strong MSPS: BDEX, SISPRO, etc.]

    p.mb-4 Para asegurar esta calidad se desarrollan varias tareas, enmarcadas en los siguientes objetivos:

    .wv85.m-auto
      table.mb-4
        thead
          tr
            td.divClrU.ClrU1
            td
              img.img-fluid.img-min.ml-n4(src="assets/images/pages/tema-3/img03.svg")
            td
              p.bg-t5 Medir cada una de las características primarias de calidad de los datos (exactitud, integralidad y coherencia).
          
          tr
            td.divClrU.ClrU2
            td
              img.img-fluid.img-min.ml-n4(src="assets/images/pages/tema-3/img04.svg")
            td
              p.bg-t5 Medir cada una de las #[strong características secundarias de la calidad] de los datos (oportunidad, consistencia).

          tr
            td.divClrU.ClrU3
            td
              img.img-fluid.img-min.ml-n4(src="assets/images/pages/tema-3/img05.svg")
            td
              p.bg-t5 Determinar un #[strong índice de calidad] de los datos.
          
          tr
            td.divClrU.ClrU4
            td
              img.img-fluid.img-min.ml-n4(src="assets/images/pages/tema-3/img06.svg")
            td
              p.bg-t5 Documentar las posibles causas de los #[strong problemas que afectan la calidad de los datos] en el sistema de información PAI, a través de una evaluación cualitativa.
          
          tr
            td.divClrU.ClrU5
            td
              img.img-fluid.img-min.ml-n4(src="assets/images/pages/tema-3/img07.svg")
            td
              p.bg-t5 Realizar un #[strong análisis de las causas que afectan la calidad de los datos] de PAI y entregar a nivel macro los aspectos sobre los cuales se debe mejorar en los diferentes niveles.
  
  .jumbotron.bg-white#tema3_6
    .header-ecored
      .h2 3.6 Registro
    
    p Es realizado en cada institución.

  .jumbotron.bg-white#tema3_7
    .header-ecored
      .h2 3.7 Gestión del dato
    
    p.mb-4 Con el fin de estandarizar la evaluación de la calidad de los datos del programa, se definieron para esta metodología atributos primarios y secundarios que permiten calcular el índice de calidad, que es el parámetro final de medición de la confiabilidad de los datos generados por las diferentes fuentes del programa. Los atributos para evaluar son:

    .wv85.m-auto
      .row.mb-3
        .col-12.col-md-5
          .header-conv5
            p.text-center Exactitud
        .col-12.col-md-7
          p Indica que los datos registrados en las diferentes fuentes de información son #[strong fiel muestra de la realidad.]
      
      .row.mb-3
        .col-12.col-md-5
          .header-conv5
            p.text-center Integralidad
        .col-12.col-md-7
          p Indica la #[strong presencia de los datos mínimos] que deben estar presentes en las diferentes fuentes de información.

      .row.mb-3
        .col-12.col-md-5
          .header-conv5
            p.text-center Coherencia
        .col-12.col-md-7
          p Indica la #[strong relación lógica] existente entre dos campos.
      
      .row.mb-3
        .col-12.col-md-5
          .header-conv5
            p.text-center Oportunidad
        .col-12.col-md-7
          p Indica la posibilidad de contar con la #[strong información completa] de acuerdo con los tiempos establecidos en cada nivel.

      .row.mb-3
        .col-12.col-md-5
          .header-conv5
            p.text-center Consistencia
        .col-12.col-md-7
          p Indica la presencia de #[strong datos estandarizados.]