.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Inmunosupresión:
            | disminución o deterioro del sistema inmune o respuesta inmunológica del cuerpo humano.
        
        p
            strong.mr-2 Interoperabilidad:
            | es la capacidad que tiene un sistema de información para intercambiar datos, información y conocimiento con otros sistemas de información.
        p 
            strong.mr-2 Polietilenglicol (PEG):
            | excipiente estabilizante en la vacuna Pfizer.  También llamado macrogol o polisorbatos y la gelatina.
        p 
            strong.mr-2 Reacción Adversa a Medicamentos– RAM:
            | respuesta a un medicamento que es nocivo y no intencionado, y que se presenta tras la administración de un medicamento, a dosis utilizadas habitualmente en la especie humana, para prevenir, diagnosticar o tratar una enfermedad, o para modificar alguna función fisiológica.
