.container#page-introduccion

    .header-ecored
        h1 Introducción


    .card
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xkVAgGA_D-4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body
            p El desafío que representa para Colombia enfrentar la pandemia por COVID19, ha llevado a las autoridades sanitarias a diseñar diferentes estrategias de atención, entre las cuales se destaca la vacunación contra el COVID19. Esta estrategia agrupa varias acciones como la vacunación segura, el sistema de vigilancia epidemiológica y el registro en el sistema de información.   
            br
            p En este componente se abordará de manera detallada la vacunación segura contra el COVID19, identificando los principales componentes desde que se almacena, se aplica al usuario, se desechan los residuos hasta hacer el registro en el sistema de información; todo con el fin de preparar al talento humano en salud para afrontar la jornada de vacunación contra COVID19 con calidad y seguridad.