.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Resolución No 01164 de 2002 Por el cual se Adopta el Manual de Procedimientos para la Gestión Integral de los Residuos Hospitalarios y Similares.
                    td PDF
                    td 
                        a(href="http://www.ins.gov.co/normatividad/Resoluciones/RESOLUCION%201164%20DE%202002.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Información sobre vacunas contra COVID19. CDC

                    td PDF
                    td 
                        a(href="https://www.cdc.gov/coronavirus/2019-ncov/downloads/vaccines/facts-covid-vaccines-spanish-508.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Organización Panamericana de la Salud. Módulo de vacunación segura.

                    td PDF
                    td 
                        a(href="https://iris.paho.org/bitstream/handle/10665.2/34951/9275325588_spa.pdf?sequence=1&isAllowed=y", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                
                tr
                    td Min Salud (2021). Lineamienos técnicos y operativos para la vacunación contra el COVID19 Colombia. Versión 1.

                    td PDF
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/lineamientos-tecnicos-operativos-covid19-anexos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                
                tr
                    td Ministerio de Salud (2017). Actualización de la política de frascos abiertos para el manejo de las vacunas en Colombia. 

                    td PDF
                    td 
                        a(href="https://www.minsalud.gov.co/Normatividad_Nuevo/Circular%20No.%20026de%202017.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                
                tr
                    td Organización Panamericana de la Salud (2007). Vacunación segura: Módulos de capacitación III. Prácticas de inyección segura.

                    td PDF
                    td 
                        a(href="http://www.enfermeriaaps.com/portal/download/VACUNAS/OPS-%20Practicas%20de%20inyeccion%20segura.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                
                tr
                    td Ministerio de Salud y Protección Social Bogotá, 16 marzo de 2020. Limpieza y Desinfección en Servicios de Salud ante la introducción del nuevo coronavirus (SARS-CoV-2) a Colombia.

                    td PDF
                    td 
                        a(href="https://www.minsalud.gov.co/Ministerio/Institucional/Procesos%20y%20procedimientos/GIPS07.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar