//Colores base del material de formación
$brand-color-dark: #471E89;
$text-color-dark: #fff;


//Esto lo puede cambiar por el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #FFCD0D;
$text-color-light: $primary;
$brand-color-secondary: #FF4A69;
$brand-color-tertiary: #471E89;
$brand-color-gray: #F2F2F2;